[package]
name = "kaito-interfaces"
version.workspace = true
authors.workspace = true
rust-version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
unicorn-engine.workspace = true
