[package]
name = "kaito"
rust-version.workspace = true
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
kaito-backends = { workspace = true }
kaito-interfaces = { workspace = true }
